@import "tailwindcss";
@tailwind utilities; /* ← これ絶対必要！ */

@font-face {
  font-family: "Jomolhari";
  src: url("/fonts/Jomolhari.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gerbera";
  src: url("/fonts/Gerbera.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.animated-text {
  font-size: 48px;
  font-family: "Jomolhari", serif;
  fill: none;
  stroke: #112404;
  stroke-width: 1px;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: draw 5s ease-out forwards;
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.swing {
  animation: swing 2s ease-in-out infinite;
  transform-origin: bottom;
}
